

<div id="wrapper">
		<!-- start header -->
		<header style="font-family: 'Shrikhand', cursive;font-family: 'PT Sans', sans-serif;">
			<div class="top">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<ul class="topleft-info" style="color:rgb(14, 116, 23); font-size:15px">
								<li><i class="fa fa-phone"></i> +94 076 914 7364</li>
							</ul>
						</div>
						<!-- search -->
						<div class="container">
								<div class="row">
									<form class="form" >
										<div class="input-group">
											<input class="form-control" type="text" placeholder="Search" aria-label="Search" style="padding-left: 20px; border-radius: 40px;" id="mysearch">
											<div class="input-group-addon" style="margin-left: -50px; z-index: 3; border-radius: 40px; background-color: transparent; border:none;">
												<button class="btn btn-warning btn-sm" type="submit" style="border-radius: 20px;margin-top:-5px; background-color:rgb(14, 116, 23); border-color:rgb(14, 116, 23)" id="search-btn"><i class="fa fa-search"></i></button>
											</div>
										</div>
									</form>
								</div>
							</div>
					</div>
				</div>
			</div>
<!-- end search -->
			<div class="navbar navbar-default navbar-static-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
						<a class="navbar-brand" href="index.html"><img src="../../assets/img/logo.png" alt="" width="199" height="52" /></a>
					</div>
					<div class="navbar-collapse collapse ">
						<ul class="nav navbar-nav">
							
							<li><a class="arshad" routerLink=""  routerLinkActive="active-link">Home</a></li>
							<li><a class="arshad" routerLink="/Login"  routerLinkActive="active-link">Login</a></li>
							<li><a class="arshad" routerLink="/Register"  routerLinkActive="active-link">Register</a></li>
							<li><a class="arshad" routerLink="/Sales"  routerLinkActive="active-link">Sales</a></li>

							<li><a class="arshad" routerLink="/Aboutus" routerLinkActive="active-link">About Us</a></li>

							
              
              <li class="dropdown">
								<a href="#" class="dropdown-toggle arshad" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">Reports <i class="fa fa-angle-down"></i></a>
								<ul class="dropdown-menu">
									<li><a class="arshad" href="#">Invoice</a></li>
									<li><a class="arshad" href="#">Invoice History</a></li>
									
								</ul>
              </li>
              
							<li><a class="arshad" routerLink="/Contact" routerLinkActive="active-link"> Contact</a></li>
						</ul>
					</div>
				</div>
			</div>
		</header>
		<!-- end header -->
        <router-outlet></router-outlet>
		<footer style="background-color:rgb(14, 126, 24); color:white">
			<div class="container">
				<div class="row">
					<div class="col-sm-3 col-lg-3">
						<div class="widget">
							<h4>Get in touch with us</h4>
							<address>
					<strong>pettah</strong><br>
					 manirathnam<br>
					 colombo 06 </address>
							<p>
								<i class="icon-phone"></i> 0769147364 <br>
								<i class="icon-envelope-alt"></i> email@domainname.com
							</p>
						</div>
					</div>
					<div class="col-sm-3 col-lg-3">
						<div class="widget">
							<h4>Information</h4>
							<ul class="link-list">
								<li><a href="#">Press release</a></li>
								<li><a href="#">Terms and conditions</a></li>
								<li><a href="#">Privacy policy</a></li>
								<li><a href="#">Career center</a></li>
								<li><a href="#">Contact us</a></li>
							</ul>
						</div>

					</div>
					<div class="col-sm-3 col-lg-3">
						<div class="widget">
							<h4>Pages</h4>
							<ul class="link-list">
								<li><a href="#">Press release</a></li>
								<li><a href="#">Terms and conditions</a></li>
								<li><a href="#">Privacy policy</a></li>
								<li><a href="#">Career center</a></li>
								<li><a href="#">Contact us</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3 col-lg-3">
						<div class="widget">
							<h4>Newsletter</h4>
							<p>Fill your email and sign up for monthly newsletter to keep updated</p>
							<div class="form-group multiple-form-group input-group">
								<input type="email" name="email" class="form-control">
								<span class="input-group-btn">
                            <button type="button" class="btn btn-theme btn-add">Subscribe</button>
						</span>
						
						
							</div>

							<div>
								<ul class="social-network network"  >
									<li><a href="#" data-placement="top" title="Facebook"><i class="fa fa-facebook" ></i></a></li>
									<li><a href="#" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#" data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
									<li><a href="#" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
									<li><a href="#" data-placement="top" title="Google plus"><i class="fa fa-google-plus"></i></a></li>
								</ul>	
	
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="sub-footer">
				<div class="container">
					<div class="row">
						
							<div class="copyright" style="text-align:center">
								<p style="color:rgb(85, 84, 84)">&copy; Sailor Theme - All Right Reserved</p>
								
							</div>
						
							
					</div>
				</div>
			</div>
		</footer>
	</div>
	<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
   